<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .card {
        margin: 50px auto;
        float: none;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        width: 50%;
        flex: auto;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    }

    h1,
    h3 {
        text-align: center;
        line-height: 2rem;
    }
</style>

{% include 'nav.html' %}

{% if human %}
<div class="card">
    <h1>Name</h1>
    <h3>Male | 28 February</h3>
    <p>Description</p>
    <p>Home Name: Address</p>
</div>
{% endif %}

{% if cat %}
<div class="card">
    <h1>Cat Name</h1>
    <h3>Male | 5 February | Breed</h3>
    <p>Owner</p>
    <p>Description</p>
</div>
{% endif %}

{% if home %}
<div class="card">
    <h1>Home Name</h1>
    <h3>House Type</h3>
    <h3>Address</h3>
</div>
{% endif %}

{% if breed %}

<div class="card">
    <h1>Breed Name</h1>
    <h3>Origin</h3>
    <p>Description</p>
</div>

{% endif %}