<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<style>
    body {
        font-family: 'Open Sans', sans-serif;
    }

    .btn {
        padding: 10px;
        background-color: #dddddd;
        border-radius: 8px;
        border: 0;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        text-decoration: none;
        color: black;
    }


    button:hover {
        background-color: #a8a8a8;
        cursor: pointer;
    }

    table {
        width: 100%;
        text-align: left;
        padding: 20px 0px;
    }

    .uncolor {
        font-size: 16px;
        color: black;
        text-decoration: none;
    }

    td,
    th {
        border: 1px solid rgb(0, 0, 0);
        padding: 8px;
    }


    tr:nth-child(even) {
        background-color: #dddddd;
    }

    tr:hover {
        background-color: #a8a8a8;
    }

    thead {
        background-color: #dddddd;
    }
</style>

<body>
    {% include 'nav.html' %}

    {% if object_list %}
    <table>

        {% if human_list %}
        <thead>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Description</th>
            <th>Home</th>
        </thead>

        <tbody>
            {% for human in human_list %}
            <tr>
                <td><a class="uncolor" href="{% url 'sitecat:human-detail' human.id %}">{{ human.name }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:human-detail' human.id %}">{{ human.gender }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:human-detail' human.id %}">{{ human.birth_date }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:human-detail' human.id %}">{{ human.description }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:human-detail' human.id %}">{{ human.home }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}


        {% if cat_list %}
        <thead>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Description</th>
            <th>Breed</th>
            <th>Owner</th>
        </thead>

        <tbody>
            {% for cat in cat_list %}
            <tr>
                <td><a class="uncolor" href="{% url 'sitecat:cat-detail' cat.id %}">{{ cat.name }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:cat-detail' cat.id %}">{{ cat.gender }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:cat-detail' cat.id %}">{{ cat.birth_date }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:cat-detail' cat.id %}">{{ cat.description }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:cat-detail' cat.id %}">{{ cat.breed }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:cat-detail' cat.id %}">{{ cat.owner }}</a></td>
            </tr>
            {% endfor %}
        </tbody>

        {% endif %}

        {% if home_list %}
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th>House Type</th>
        </thead>

        <tbody>
            {% for home in home_list %}
            <tr>
                <td><a class="uncolor" href="{% url 'sitecat:home-detail' home.id %}">{{ home.name }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:home-detail' home.id %}">{{ home.address }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:home-detail' home.id %}">{{ home.house_type }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}

        {% if breed_list %}
        <thead>
            <th>Name</th>
            <th>Origin</th>
            <th>Description</th>
        </thead>

        <tbody>
            {% for breed in breed_list %}
            <tr>
                <td><a class="uncolor" href="{% url 'sitecat:breed-detail' breed.id %}">{{ breed.name }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:breed-detail' breed.id %}">{{ breed.origin }}</a></td>
                <td><a class="uncolor" href="{% url 'sitecat:breed-detail' breed.id %}">{{ breed.description }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}

    </table>

    {% else %}
    <p>No data for {{ request.path|slice:"1:" }}s available.</p>
    {% endif %}

    <div>
        {% if request.path == "/human" %}
        <a class='btn' href="{% url 'sitecat:human-create' %}">Create New</a>
        {% endif %}

        {% if request.path == "/cat" %}
        <a class='btn' href="{% url 'sitecat:cat-create' %}">Create New</a>
        {% endif %}

        {% if request.path == "/home" %}
        <a class='btn' href="{% url 'sitecat:home-create' %}">Create New</a>
        {% endif %}

        {% if request.path == "/breed" %}
        <a class='btn' href="{% url 'sitecat:breed-create' %}">Create New</a>
        {% endif %}

    </div>
</body>